@import "react-day-picker/style.css";

.rdp-root {
  select {
    background: transparent;
  }
  // The accent color used for selected days and UI elements.
  --rdp-accent-color: #fdba74;

  // The accent background color used for selected days and UI elements.
  // --rdp-accent-background-color

  // The height of the day cells (default: 44px).
  // --rdp-day-height: 36px;

  // The width of the day cells (default: 44px).
  // --rdp-day-width: 36px;

  // The opacity of the chevron when its container is disabled.
  // --rdp-chevron-disabled-opacity

  // The border radius of the day cells.
  --rdp-day_button-border-radius: 4px;

  // The border of the day cells.
  // --rdp-day_button-border

  // The height of the day cells (default: 42px).
  // --rdp-day_button-height: 36px;

  // The width of the day cells (default: 42px).
  // --rdp-day_button-width

  // The border of the selected days.
  // --rdp-selected-border

  // The opacity of the disabled days.
  // --rdp-disabled-opacity

  // The opacity of the days outside the current month.
  // --rdp-outside-opacity

  // The color of today's date.
  --rdp-today-color: #e39643;

  // The gap between the dropdowns used in the month captions.
  // --rdp-dropdown-gap

  // The gap between the months in the multi-month view.
  // --rdp-months-gap

  // The opacity of the disabled navigation buttons.
  // --rdp-nav_button-disabled-opacity

  // The height of the navigation buttons.
  // --rdp-nav_button-height

  // The width of the navigation buttons.
  // --rdp-nav_button-width

  // The height of the navigation bar.
  // --rdp-nav-height

  // The color of the background for days in the middle of a range.
  // --rdp-range_middle-background-color

  // The color of the text for days in the middle of a range.
  // --rdp-range_middle-color

  // The color of the range text at the start of the range.
  // --rdp-range_start-color

  // Used for the background of the start of the selected range.
  // --rdp-range_start-background

  // The background color of the date at the start of the selected range.
  --rdp-range_start-date-background-color: #fadf16;

  // Used for the background of the end of the selected range.
  // --rdp-range_end-background

  // The color of the range text at the end of the range.
  // --rdp-range_end-color

  // The background color of the date at the end of the selected range.
  --rdp-range_end-date-background-color: #ff9500;

  // The border radius of the week number.
  // --rdp-week_number-border-radius

  // The border of the week number.
  // --rdp-week_number-border

  // The height of the week number cells.
  // --rdp-week_number-height

  // The width of the week number cells.
  // --rdd-week_number-width

  // The opacity of the weekday.
  // --rdp-weekday-opacity

  // The padding of the weekday.
  // --rdp-weekday-padding

  // The text alignment of the weekday cells.
  // --rdp-weekday-text-align
}
