@use "./components/ui/base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-origin: 0 0;
  background-color: var(--primary);
  background: repeat url("./assets/dot-pattern.png");
  transition: all ease-in-out 0.1s;

  &.dark {
    background: repeat url("./assets/dot-pattern-black.png");
  }
}

#app-root {
  flex: 1;
  position: relative;
}
