@use "./components/ui/base.css";

:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background-origin: 0 0;
  background-color: var(--background);
}

#app-root {
  flex: 1;
  position: relative;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 10px;
  background-color: #f5f5f5;
}

body.dark {
  ::-webkit-scrollbar {
    background-color: #333;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}
body.dark {
  ::-webkit-scrollbar {
    background-color: #242323;
  }
}
